[Unit]
Description=Brown Capability
Wants=pigpiod.service
After=local-fs.target network-online.target pigpiod.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/brown/
ExecStart=/usr/bin/python3 /home/pi/brown/capability.py
Restart=on-abort


[Install]
WantedBy=multi-user.target